<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerlink="/homepage">

      <img src="assets/logo/logo.png" alt="logo" style="
              height: 90px; width:100px; ">
      <a class="font-effect-neon" routerLink="/homepage">Book my ticket </a>
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/homepage">Home</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/theaters">Select theater</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-us">Contact-us</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
