<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
    <app-navbar></app-navbar>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <h1>
                        Login form
                    </h1>

                    <form [formGroup]="loginForm" (ngSubmit)="logIn()">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                ❤️‍🔥 </div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input formControlName="password" type="password" class="form-control"
                                id="exampleInputPassword1">
                        </div>
                        <button type="submit" class="btn">Login</button>
                    </form>
                    <a routerLink="/signup">New user? click to signup !</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>